.borderBottom {
  border-bottom: 0.1rem solid #ddd;
}

.paddingBottom {
  padding-bottom: 2rem;
}

.paddingTB {
  padding: 2rem 0;
}

input {
  // border: 0.1rem solid #EC4126;
  border: none;
  padding: 1rem 1.5rem;
  width: 30rem;
  background-color: #f9f9f9;
  font-size: 1.3rem;

  &[name="title"] {
    width: 20rem;
  }
}

.todoSet {
  // outline: 1px solid #000;
  width: 30rem;

  >* {
    line-height: 2.3;
  }
}

.modifyBox {
  span {
    display: block;
    margin-right: 2rem;
    line-height: 2;
  }

  input[type="text"] {
    outline: 0.1rem solid #999;
    background-color: #fff;
    padding: .5rem 1rem;

    &[name="id"] {
      width: 5rem;
    }

    &[name="title"] {
      width: 15rem;
    }

    &[name="todo"] {
      width: 20rem;
    }
  }


}