.mainBg {
  background-image: url('../../public/mainVisual.jpg');
}

.absoluteBox {
  position: absolute;
  top: 50%;
}

@media screen and (max-width: 768px) {
  .absoluteBox {
    position: static;
    transform: translateY(320%);
  }
}