@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1;
}

.TopBanner {
  padding: 0;
  background: #ddd;
  overflow: hidden;
  height: 100px;
  transition: 0.5s;
}

.TopBanner.on {
  height: 0;
}

.btn {
  display: inline-block;
  font-size: 30px;
  color: #f00;
}

.btn.on {
  transform: rotate(180deg);
}