header {
  .gnb {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #000;

    .logo {
      font-size: 2.9rem;
      line-height: 2.5;
      color: #ddd;

      >a {
        color: #fff;
      }
    }
  }

  .mainVisual {
    position: relative;
    top: 7rem;
    outline: 0.1rem solid #000;
    height: 100vh;
    background-image: url('../public/header-bg.jpg');

    .title_box {
      color: #fff;
      text-align: center;

      h3 {
        margin-bottom: 4rem;
        font-size: 2.9rem;
      }

      p {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        line-height: 1.3;
      }
    }
  }
}